<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">

        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <link rel="stylesheet" type="text/css" href="..\CSS\HeaderStyle.css">
        <link rel="stylesheet" type="text/css" href="..\CSS\ArticlePage.css">
        <link rel="stylesheet" type="text/css" href="..\CSS\MainStyle.css">
        <link rel="stylesheet" type="text/css" href="..\CSS\FooterStyle.css">

        <script src="https://kit.fontawesome.com/18eb935c38.js" crossorigin="anonymous"></script>

        <title>Солнечная система - Нептун</title>
    </head>

    <body>

        <header id="Header">
            <div id="Logo">
                <img src="..\Materials\LogoIcon\solar-system.png">
                <h2 id="logoText">ПРОкосмос</h2>
            </div>

            <input type="checkbox" id="checkbox">
            <label for="checkbox" id="menuBars"><i class="fas fa-bars"></i></label>

            <nav id="Havigation">
                <ul>
                    <li><a href="..\..\index.html">Главная</a></li>
                    <li><a href="#">Статьи</a></li>
                    <li><a href="#">О нас</a></li>
                </ul>            
            </nav>
        </header>
        <section id="Separator"></section>

        <section class="resizable-section">
            <div class="page">
                <main class="mainPage">
                    <div class="separator-container"></div>
                    <div class="Page-Header">
                        <h1 class="title">Нептун</h1>
                    </div>
                    <div class="page-content">
                        <div class="text-content">
                            <div class="Contents-table" style="--clr:#c0c0c0a3">
                                <input type="checkbox" id="openList">
                                <label for="openList" id="openListBtn"><i class="fa-solid fa-chevron-down"></i></label>
                                <div class="table-Header"><h3>Содержание</h3></div>
                                <div class="elements">
                                    <ul class="content-list">
                                        <li><a href="#Общие-сведения"><span>1.</span>Общие сведения</a></li>
                                        <li><a href="#Жизненный-цикл"><span>2.</span>Жизненный цикл</a></li>
                                        <li><a href="#Структура"><span>3.</span>Структура</a></li>
                                        <li><a href="#Солнце-и-Земля"><span>4.</span>Солнце и Земля</a></li>
                                        <li><a href="#Движение-Солнца"><span>5.</span>Движение Солнца</a></li>
                                        <li><a href="#Солнце-и-другие-звезды"><span>6.</span>Солнце и другие звезды</a></li>                                        
                                    </ul>
                                </div>
                            </div>
                            <div class="separator-container"></div>
                            <div id="Information-card" style="--clr:#c0c0c0a3">
                                <table id="Information-card-table" style="--bcgClr: #FFFF00; --fntClr: #111">
                                    <thead>
                                        <tr class="table-Header" >
                                            <th colspan="2">Нептун</th>
                                        </tr>
                                        <tr>
                                            <td class="cardIMG" colspan="2">
                                                <div class="IMG-Container">
                                                    <img src="..\Materials\PlanetIMG\SunIMG\SunIMG.webp" alt="">
                                                </div>
                                                <span>Фото Солнца</span>
                                            </td>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr class="Group-of-characteristics">
                                            <th colspan="2">
                                                <span>
                                                    Основные характеристики
                                                </span>
                                            </th>
                                        </tr>
                                        <tr>
                                            <th>Среднее расстояние от Земли</th>
                                            <td>1,496⋅1011 м (8,31 световых минут)<br>1 а. е.</td>
                                        </tr>
                                        <tr>
                                            <th>Средний горизонтальный параллакс</th>
                                            <td>8,749"</td>
                                        </tr>
                                        <tr>
                                            <th>Видимая звёздная величина (V)</th>
                                            <td>-26,74<sup>m</sup></td>
                                        </tr>
                                        <tr>
                                            <th>Абсолютная звёздная величина</th>
                                            <td>4,83<sup>m</sup></td>
                                        </tr>
                                        <tr>
                                            <th>Спектральный класс</th>
                                            <td>G2V</td>
                                        </tr>

                                        <tr class="Group-of-characteristics">
                                            <th colspan="2">
                                                <span>
                                                    Физические характеристики
                                                </span>
                                            </th>
                                        </tr>
                                        <tr>
                                            <th>Средний диаметр</th>
                                            <td>1,392 * 10<sup>9</sup>м.</td>
                                        </tr>
                                        <tr>
                                            <th>Объем</th>
                                            <td>1,40927 * 10<sup>27</sup>м<sup>2</sup></td>
                                        </tr>
                                        <tr>
                                            <th>Масса</th>
                                            <td>1,9885 * 10<sup>2</sup>кг</td>
                                        </tr>
                                        <tr>
                                            <th>Температура ядра</th>
                                            <td>15 700 000K</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>

                            <section class="theme-content" id="Общие-сведения">
                               
                            </section>
                            <section class="theme-content" id="Астрономия">
                               
                            </section>
                        </div>
                        <div class="recomended-content">

                        </div>
                    </div>
                </main>
            </div>
        </section>

        <footer>
            <div class="footer-container">
                <h3>ПРОкосмос</h3>
                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Beatae laborum aut sint corporis eum.</p>
                <ul class="contacts-socials">
                    <li><a href="https://vk.com/redstar_oc" target="_blank"><i class="fa-brands fa-vk"></i></a></li>
                    <li><a href="https://t.me/RobertMkrt4yan" target="_blank"><i class="fa-brands fa-telegram"></i></a></li>
                    <li><a href="https://github.com/PaleLuna" target="_blank"><i class="fa-brands fa-square-github"></i></a></li>
                </ul>
            </div>
            <div class="footer-bottom">
                <p>Copyright &copy;2022 Robert Mkrtchian</p>
            </div>
        </footer>
        
    </body>
</html>