<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">

        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <link rel="stylesheet" type="text/css" href="..\CSS\HeaderStyle.css">
        <link rel="stylesheet" type="text/css" href="..\CSS\ArticlePage.css">
        <link rel="stylesheet" type="text/css" href="..\CSS\MainStyle.css">
        <link rel="stylesheet" type="text/css" href="..\CSS\FooterStyle.css">

        <script src="https://kit.fontawesome.com/18eb935c38.js" crossorigin="anonymous"></script>

        <title>Солнечная система - Сатурн</title>
    </head>

    <body>

        <header id="Header">
            <div id="Logo">
                <img src="..\Materials\LogoIcon\solar-system.png">
                <h2 id="logoText">ПРОкосмос</h2>
            </div>

            <input type="checkbox" id="checkbox">
            <label for="checkbox" id="menuBars"><i class="fas fa-bars"></i></label>

            <nav id="Havigation">
                <ul>
                    <li><a href="..\..\index.html">Главная</a></li>
                    <li><a href="#">Статьи</a></li>
                    <li><a href="#">О нас</a></li>
                </ul>            
            </nav>
        </header>
        <section id="Separator"></section>

        <section class="resizable-section">
            <div class="page">
                <main class="mainPage">
                    <div class="separator-container"></div>
                    <div class="Page-Header">
                        <h1 class="title">Сатурн</h1>
                    </div>
                    <div class="page-content">
                        <div class="text-content">
                            <div class="Contents-table" style="--clr:#c0c0c0a3">
                                <input type="checkbox" id="openList">
                                <label for="openList" id="openListBtn"><i class="fa-solid fa-chevron-down"></i></label>
                                <div class="table-Header"><h3>Содержание</h3></div>
                                <div class="elements">
                                    <ul class="content-list">
                                        <li><a href="#Общие-сведения"><span>1.</span>Общие сведения</a></li>
                                        <li><a href="#Сатурн-среди-планет-Солнечной-системы"><span>2.</span>Сатурн среди планет Солнечной системы</a></li>
                                        <li><a href="#Магнитное-поле"><span>3.</span>Магнитное поле</a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="separator-container"></div>
                            <div id="Information-card" style="--clr:#c0c0c0a3">
                                <table id="Information-card-table" style="--bcgClr: #D2B48C; --fntClr: #111">
                                    <thead>
                                        <tr class="info-table-Header">
                                            <th colspan="2">Сатурн</th>
                                        </tr>
                                        <tr>
                                            <td class="cardIMG" colspan="2">
                                                <div class="IMG-Container">
                                                    <img src="..\Materials\PlanetIMG\Saturn\640px-Saturn_-_April_25_2016_(37612580000).webp" alt="">
                                                </div>
                                                <span>Сатурн с его кольцами</span>
                                            </td>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr class="Group-of-characteristics">
                                            <th colspan="2">
                                                <span>
                                                    Основные характеристики
                                                </span>
                                            </th>
                                        </tr>
                                        <tr>
                                            <th>Среднее расстояние от Земли</th>
                                            <td>1,496⋅1011 м (8,31 световых минут)<br>1 а. е.</td>
                                        </tr>
                                        <tr>
                                            <th>Средний горизонтальный параллакс</th>
                                            <td>8,749"</td>
                                        </tr>
                                        <tr>
                                            <th>Видимая звёздная величина (V)</th>
                                            <td>-26,74<sup>m</sup></td>
                                        </tr>
                                        <tr>
                                            <th>Абсолютная звёздная величина</th>
                                            <td>4,83<sup>m</sup></td>
                                        </tr>
                                        <tr>
                                            <th>Спектральный класс</th>
                                            <td>G2V</td>
                                        </tr>

                                        <tr class="Group-of-characteristics">
                                            <th colspan="2">
                                                <span>
                                                    Физические характеристики
                                                </span>
                                            </th>
                                        </tr>
                                        <tr>
                                            <th>Средний диаметр</th>
                                            <td>1,392 * 10<sup>9</sup>м.</td>
                                        </tr>
                                        <tr>
                                            <th>Объем</th>
                                            <td>1,40927 * 10<sup>27</sup>м<sup>2</sup></td>
                                        </tr>
                                        <tr>
                                            <th>Масса</th>
                                            <td>1,9885 * 10<sup>2</sup>кг</td>
                                        </tr>
                                        <tr>
                                            <th>Температура ядра</th>
                                            <td>15 700 000K</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>

                            <section class="theme-content" id="Общие-сведения">
                                <h3>Общие сведения<hr></h3>
                                <p>Сату́рн — шестая планета по удалённости от Солнца и вторая по размерам планета в Солнечной системе после Юпитера. Сатурн классифицируется как газовая планета-гигант. Сатурн назван в честь римского бога земледелия. Символ Сатурна</p>
                                <p>В основном Сатурн состоит из водорода, с примесями гелия и следами воды, метана, аммиака и тяжёлых элементов. Внутренняя область представляет собой относительно небольшое ядро из железа, никеля и льда, покрытое тонким слоем металлического водорода и газообразным внешним слоем. Внешняя атмосфера планеты кажется из космоса спокойной и однородной, хотя иногда на ней появляются долговременные образования. Скорость ветра на Сатурне может достигать местами 1800 км/ч, что значительно больше, чем на Юпитере.Перейти к разделу «#Атмосфера и строение» У Сатурна имеется планетарное магнитное поле, занимающее промежуточное положение по напряжённости между магнитным полем Земли и мощным полем Юпитера. Магнитное поле Сатурна простирается на 1 000 000 километров в направлении Солнца. Ударная волна была зафиксирована «Вояджером-1» на расстоянии в 26,2 радиуса Сатурна от самой планеты, магнитопауза расположена на расстоянии в 22,9 радиуса.</p>
                                <div class="IMG-Content Left">
                                    <img src="..\Materials\PlanetIMG\Saturn\Saturn_1-Agust-2015.webp" alt="img">
                                    <span>Сатурн через телескоп</span>
                                </div>
                                <p>Сатурн обладает заметной системой колец, состоящей главным образом из частичек льда, меньшего количества тяжёлых элементов и пыли. Вокруг планеты обращается 83 известных на данный момент спутника. Титан — самый крупный из них, а также второй по размерам спутник в Солнечной системе (после спутника Юпитера, Ганимеда), который превосходит по своим размерам Меркурий и обладает единственной среди спутников планет Солнечной системы плотной атмосферой.</p>
                                <p>На орбите Сатурна находилась автоматическая межпланетная станция (АМС) «Кассини», запущенная в 1997 году и достигшая системы Сатурна в 2004 году. В задачи АМС входило изучение структуры колец, а также динамики атмосферы и магнитосферы планеты. 15 сентября 2017 года станция завершила свою миссию, сгорев в атмосфере планеты.</p>
                            </section>

                            <section class="theme-content" id="Сатурн-среди-планет-Солнечной-системы">
                                <h3>Сатурн среди планет Солнечной системы<hr></h3>
                                <p>Сатурн относится к типу газовых планет: он состоит в основном из газов и не имеет твёрдой поверхности. Экваториальный радиус планеты равен 60 300 км, полярный радиус — 54 400 км; из всех планет Солнечной системы Сатурн обладает наибольшим сжатием. Масса планеты в 95,2 раза превышает массу Земли, однако средняя плотность Сатурна составляет всего 0,687 г/см³, что делает его единственной планетой Солнечной системы, чья средняя плотность меньше плотности воды. Поэтому, хотя массы Юпитера и Сатурна различаются более чем в 3 раза, их экваториальный диаметр различается только на 19 %. Плотность остальных газовых гигантов значительно больше (1,27—1,64 г/см³). Ускорение свободного падения на экваторе составляет 10,44 м/с², что сопоставимо со значениями Земли и Нептуна, но намного меньше, чем у Юпитера.</p>
                                <p>Среднее расстояние между Сатурном и Солнцем составляет 1430 млн км (9,58 а. е.). Двигаясь со средней скоростью 9,69 км/с, Сатурн обращается вокруг Солнца за 10 759 суток (примерно 29,5 лет). Расстояние от Сатурна до Земли меняется в пределах от 1195 (8,0 а. е.) до 1660 (11,1 а. е.) млн км, среднее расстояние во время их противостояния около 1280 млн км. Сатурн и Юпитер находятся почти в точном резонансе 2:5. Поскольку эксцентриситет орбиты Сатурна 0,056, то разность расстояния до Солнца в перигелии и афелии составляет 162 млн км.</p>
                                <div class="IMG-Content Right">
                                    <img src="..\Materials\PlanetIMG\Saturn\554px-Saturn,_Earth_size_comparison.webp" alt="img">
                                    <span>Сравнение размеров Сатурна и Земли</span>
                                </div>
                                <p>Видимые при наблюдениях характерные объекты атмосферы Сатурна вращаются с разной скоростью в зависимости от широты. Как и в случае Юпитера, имеется несколько групп таких объектов. Так называемая «Зона 1» имеет период вращения 10 ч 14 мин 00 с (то есть угловая скорость составляет 844,3°/сутки, или 2,345 оборота/сутки). Она простирается от северного края южного экваториального пояса до южного края северного экваториального пояса. На всех остальных широтах Сатурна, составляющих «Зону 2», период вращения первоначально был оценён в 10 ч 39 мин 24 с (скорость 810,76°/сутки или 2,2521 оборота/сутки). Впоследствии данные были пересмотрены: была дана новая оценка — 10 ч, 34 мин и 13 с[8][9]. «Зона 3», наличие которой предполагается на основе наблюдений радиоизлучения планеты в период полёта «Вояджера−1», имеет период вращения 10 ч 39 мин 22,5 с (скорость 810,8°/сутки или 2,2522 оборота/сутки).</p>
                                <p>В качестве продолжительности оборота Сатурна вокруг оси принята величина 10 часов, 34 минуты и 13 секунд[14]. Сатурн — единственная планета, у которой осевая скорость вращения на экваторе больше орбитальной скорости вращения (9,87 км/с и 9,69 км/с соответственно). Точная величина периода вращения внутренних частей планеты остаётся трудноизмеримой. Когда аппарат «Кассини» достиг Сатурна в 2004 году, было обнаружено, что согласно наблюдениям радиоизлучения длительность оборота внутренних частей заметно превышает период вращения в «Зоне 1» и «Зоне 2» и составляет приблизительно 10 ч 45 мин 45 с (± 36 с).</p>
                                <p>Дифференциальное вращение атмосферы Сатурна подобно вращению атмосфер Юпитера и Венеры, а также Солнца. Скорость вращения Сатурна переменна не только по широте и глубине, но и во времени. Впервые это обнаружил А. Вилльямс[16]. Анализ переменности периода вращения экваториальной зоны Сатурна за 200 лет показал, что основной вклад в эту переменность вносит полугодовой и годовой циклы.</p>
                                <div class="IMG-Content Left">
                                    <img src="..\Materials\PlanetIMG\Saturn\640px-Сатурн_и_его_спутники.webp" alt="img">
                                    <span>Сатурн и его спутники</span>
                                </div>
                                <p>Происхождение Сатурна (равно как и Юпитера) объясняют две основные гипотезы. Согласно гипотезе «контракции», схожесть состава Сатурна с Солнцем в том, что у обоих небесных тел имеется большая доля водорода, и, как следствие, малую плотность можно объяснить тем, что в процессе формирования планет на ранних стадиях развития Солнечной системы в газопылевом диске образовались массивные «сгущения», давшие начало планетам, то есть Солнце и планеты формировались схожим образом. Тем не менее, эта гипотеза не может объяснить различия состава Сатурна и Солнца.</p>
                             </section>

                             <section class="theme-content" id="Магнитное-поле">
                                <h3>Магнитное поле<hr></h3>
                                <p>Магнитосфера Сатурна открыта космическим аппаратом «Пионер-11» в 1979 году. По размерам уступает только магнитосфере Юпитера. Магнитопауза, граница между магнитосферой Сатурна и солнечным ветром, расположена на расстоянии порядка 20 радиусов Сатурна от его центра, а хвост магнитосферы протягивается на сотни радиусов. Магнитосфера Сатурна наполнена плазмой, продуцируемой планетой и её спутниками. Среди спутников наибольшую роль играет Энцелад, гейзеры которого выбрасывают водяной пар, часть которого ионизируется магнитным полем Сатурна.</p>
                                <p>Взаимодействие между магнитосферой Сатурна и солнечным ветром генерирует яркие овалы полярного сияния вокруг полюсов планеты, наблюдаемые в видимом, ультрафиолетовом и инфракрасном свете.</p>
                                <p>Магнитное поле Сатурна, так же как и Юпитера, создаётся за счёт эффекта динамо при циркуляции металлического водорода во внешнем ядре. Магнитное поле является почти дипольным, так же как и у Земли, с северным и южным магнитными полюсами. Северный магнитный полюс находится в северном полушарии, а южный — в южном, в отличие от Земли, где расположение географических полюсов противоположно расположению магнитных. Величина магнитного поля на экваторе Сатурна 21 мкТл (0,21 Гс), что соответствует дипольному магнитному моменту примерно в 4,6 × 1018 Тл·м³. Магнитный диполь Сатурна жёстко связан с его осью вращения, поэтому магнитное поле очень асимметрично. Диполь несколько смещён вдоль оси вращения Сатурна к северному полюсу. Магнитная ось Сатурна практически совпадает с осью его вращения — угол отклонения не превышает 0,01° (у Земли — 11°).</p>
                                <p>Внутреннее магнитное поле Сатурна отклоняет солнечный ветер от поверхности планеты, предотвращая его взаимодействие с атмосферой, и создаёт область, называемую магнитосферой и наполненную плазмой совсем иного вида, чем плазма солнечного ветра. Магнитосфера Сатурна — вторая по величине магнитосфера в Солнечной системе, наибольшая — магнитосфера Юпитера. Как и в магнитосфере Земли, граница между солнечным ветром и магнитосферой называется магнитопаузой. Расстояние от магнитопаузы до центра планеты (по прямой Солнце — Сатурн) варьируется от 16 до 27 R♄ (R♄ = 60 330 км — экваториальный радиус Сатурна)[47][50]. Расстояние зависит от давления солнечного ветра, который зависит от солнечной активности. Среднее расстояние до магнитопаузы составляет 22 R♄. С другой стороны планеты солнечный ветер растягивает магнитное поле Сатурна в длинный магнитный хвост.</p>
                                <div class="IMG-Content MaxSize">
                                    <img src="..\Materials\PlanetIMG\Saturn\Plasma_magnet_saturn.webp" alt="img">
                                    <span>Структура магнитосферы Сатурна</span>
                                </div>
                             </section>
                        </div>
                        <div class="recomended-content">

                        </div>
                    </div>
                </main>
            </div>
        </section>

        <footer>
            <div class="footer-container">
                <h3>ПРОкосмос</h3>
                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Beatae laborum aut sint corporis eum.</p>
                <ul class="contacts-socials">
                    <li><a href="https://vk.com/redstar_oc" target="_blank"><i class="fa-brands fa-vk"></i></a></li>
                    <li><a href="https://t.me/RobertMkrt4yan" target="_blank"><i class="fa-brands fa-telegram"></i></a></li>
                    <li><a href="https://github.com/PaleLuna" target="_blank"><i class="fa-brands fa-square-github"></i></a></li>
                </ul>
            </div>
            <div class="footer-bottom">
                <p>Copyright &copy;2022 Robert Mkrtchian</p>
            </div>
        </footer>
        
    </body>
</html>