@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@700&family=Source+Sans+Pro&family=Ubuntu&display=swap');

.resizable-section {
    display: flex;
    justify-content: center;
    align-items: center;
    

    position: relative;

    max-width: none;
    width: 75%;

    height: 100vh;

    margin: 15% auto;


}

.separator-container {
    height: 50px;
}

.page {
    width: 80%;
    height: fit-content;

    padding: 2.4vmin 3.6vmin;

    font-family: 'Source Sans Pro', sans-serif;
    
    background: #100720;
    color: #fff;
}

.page .Page-Header {
    font-family: 'Roboto', sans-serif;
    font-size: 4vmin;

    width: 75%;
    padding-bottom: 2px;

    border-bottom: 1px solid #fff;

    margin-bottom: 2.5vmin;
}

.page-content {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 100%;
    height: 100%;
}

.page-content .text-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    
    padding: 2vmin;
    
    text-align:justify;
    font-size: 2.5vmin;
}
.page-content .text-content h4
{
    font-size: 3vmin;
    font-weight: 600;
    
    padding: 0.5vmin 0 2.5vmin 0;
    
    opacity: 0.5;
}
.page-content .text-content p {
    padding: 0.5vmin;
}
.page-content .text-content a {
    font-style: italic;
    
    color: #E47676;
}
@media (max-width: 1015px) {
    .resizable-section {
        width: 95%;
    }
}


/*--------------------------Отзыв--------------------------*/

.container{
    position: relative;
    width: 40vmin;
    background: #111;
    padding: 2vmin 3vmin;
    border: 1px solid #444;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
  .container .post{
    display: none;
  }
  .container .textRating{
    font-size: 2.5vmin;
    color: #666;
    font-weight: 500;
  }
  .container .edit{
    position: absolute;
    right: 10px;
    top: 5px;
    font-size: 1.5vmin;
    color: #666;
    font-weight: 500;
    cursor: pointer;
  }
  .container .edit:hover{
    text-decoration: underline;
  }
  .container .star-widget input{
    display: none;
  }
  .star-widget label{
    font-size: 4vmin;
    color: #444;
    padding: 1vmin;
    float: right;
    transition: all 0.2s ease;
  }
  input:not(:checked) ~ label:hover,
  input:not(:checked) ~ label:hover ~ label{
    color: #fd4;
  }
  input:checked ~ label{
    color: #fd4;
  }
  input#rate-5:checked ~ label{
    color: #fe7;
    text-shadow: 0 0 20px #952;
  }
  #rate-1:checked ~ form header:before{
    content: "Хотел заглянуть в глубины космоса, а увидел фигу";
  }
  #rate-2:checked ~ form header:before{
    content: "Это что?.. Грязь на линзе?";
  }
  #rate-3:checked ~ form header:before{
    content: "Тусклая звездочка";
  }
  #rate-4:checked ~ form header:before{
    content: "Ещё один оборот по орбите эстетики";
  }
  #rate-5:checked ~ form header:before{
    content: "ПРОсто КОСМОС!";
  }
  .container form{
    display: none;
  }
  input:checked ~ form{
    display: block;
  }
  form header{
    width: 100%;
    font-size: 2.5vmin;
    color: #fe7;
    font-weight: 500;
    margin: 0.5vmin 0 2vmin 0;
    text-align: center;
    transition: all 0.2s ease;
  }
  form .textarea{
    height: 10vmin;
    width: 100%;
    overflow: hidden;
  }
  form .textarea textarea{
    height: 100%;
    width: 100%;
    outline: none;
    color: #eee;
    border: 1px solid #333;
    background: #222;
    padding: 1vmin;
    font-size: 1.7vmin;
    resize: none;
  }
  .textarea textarea:focus{
    border-color: #444;
  }
  form .btn{
    height: 4.5vmin;
    width: 100%;
    margin: 1.5vmin 0;
  }
  form .btn button{
    height: 100%;
    width: 100%;
    border: 1px solid #444;
    outline: none;
    background: #222;
    color: #999;
    font-size: 1.7vmin;
    font-weight: 500;
    text-transform: uppercase;
    cursor: pointer;
    transition: all 0.3s ease;
  }
  form .btn button:hover{
    background: #1b1b1b;
  }