@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@700&family=Source+Sans+Pro&family=Ubuntu&display=swap');

.resizable-section {
    position: relative;

    max-width: none;
    width: 75%;

    height: fit-content;

    margin: 15% auto;

    font-family: 'Source Sans Pro', sans-serif;

    background: #100720;
    color: #fff;
}

.separator-container {
    height: 50px;
}

.page {
    width: 100%;
    height: 100%;

    padding: 24px 36px;
}
.page .Page-Header {
    font-family: 'Roboto', sans-serif;
    font-size: 4vmin;

    width: 75vmin;
    padding-bottom: 2px;

    border-bottom: 1px solid #fff;

    margin-bottom: 125px;
}

.page-content {
    width: 100%;
    height: 100%;
}

/*-------------------------------Содержание-------------------------------*/

.Contents-table {
    position: relative;

    max-width: 350px;
    width: 60vmin;
    height: auto;

    border: 2px solid var(--clr);
    border-radius: 1vmin;

    overflow: hidden;
}
#openList {
    display: none;
}

#openList:checked ~ .elements  {
    height: auto;
}
#openList:checked ~ .table-Header  {
    border-bottom: 2px solid var(--clr);
}
#openList:checked ~ #openListBtn {
    transform: rotate(180deg);
}
#openListBtn {
    float: right;

    margin-right: 40px;

    font-size: 25px;
    line-height: 80px;

    color: rgb(255, 255, 255); /*Изменить*/

    cursor: pointer;
    
    transition: 0.3s ease;
}

.Contents-table .table-Header {
    height: 80px;
 
    padding: 18px;

    border-bottom: 2px solid rgba(255, 255, 255, 0);

    transition: all 0.5s;
}
.Contents-table .table-Header h3{

    display: flex;
    align-items: center;

    font-weight: 600;
    font-size: 3.5vmin;

    height: 100%;
}
.Contents-table .elements {
    width: 100%;
    height: 0;
    overflow: hidden;
}
.Contents-table .elements .content-list {
    width: 100%;
    padding: 1.8vmin;
}
.Contents-table .elements .content-list li {
    width: 100%;
    height: 100%;
    
    padding: 5px;

    font-size: 2.5vmin;
}
.Contents-table .elements .content-list li span {
    margin-right: 10px;

    font-size: 2.8vmin;
    font-weight: 500;

    opacity: 0.5;
}
.Contents-table .elements .content-list li a {transition: all 0.5s ease;}
.Contents-table .elements .content-list li a:hover { color: #E47676; }

/*-------------------------------Информационная карточка-------------------------------*/

#Information-card {
    float: right;

    max-width: 400px;
    height: auto;

    margin: 0 0 15px 15px;
    padding: 1.5vmin 2vmin;


    border: 1px solid var(--clr);
}
#Information-card-table {
    width: 100%;

    border-collapse: separate;
    border-spacing: 10px 7px ;
}

#Information-card-table .info-table-Header {
    background: var(--bcgClr);
    font-size: 2vmin;

}
#Information-card-table .info-table-Header th {
    padding: 15px;

    font-size: 3.5vmin;
    color: var(--fntClr);
}

#Information-card-table .cardIMG {
    height: fit-content;
    padding-top: 15px;


    font-size: 2vmin;
    letter-spacing: 0.2em;

    text-align: center;
}
#Information-card-table .cardIMG img
{
    width: 100%;
}
#Information-card-table .cardIMG span {
    display: block;
    margin-top: 10px;
}

#Information-card-table tbody {
    font-size: 2.2vmin;
}
#Information-card-table th {
    vertical-align: top;
}
#Information-card-table tbody .Group-of-characteristics th{
    padding: 15px 0;
}
#Information-card-table tbody .Group-of-characteristics th span{
    display: block;
    width: 100%;


    font-weight: 700;
    font-size: 2.5vmin;

    background: var(--bcgClr);
    color: var(--fntClr);
}

/*-------------------------------ОСНОВНОЙ КОНТЕНТ-------------------------------*/

.theme-content {
    margin-bottom: 30px;
}

.theme-content h3 {
    font-size: 3.5vmin;
    font-weight: 600;

    margin-bottom: 25px;
}
.theme-content h3 hr {
    margin-top: 5px;
    opacity: 0.5;
}

.theme-content p {
    margin: 15px 0;

    font-size: 2.3vmin;
    
    line-height: 1.4em;
}

.IMG-Content {
    display: flex;
    flex-direction: column;

    justify-content: center;
    align-items: center;

    margin: 0 auto;

    max-width: 35vmin;
    width: fit-content;
    height: fit-content;

    padding: 1.5vmin;

    background: #2E0249;
}
.IMG-Content span{
    margin-top: 1.5vmin;
    font-size: 2vmin;

    text-align: center;
}
.IMG-Content img{
    width: 100%;
}
.IMG-Content.Left {float: left; margin-right: 15px;}
.IMG-Content.Right {float: right; margin-left: 15px;}

@media (max-width: 1015px) {
    .resizable-section {
        width: 95%;
    }
}
@media (max-width: 818px) {
    #Information-card {
        float: none;

        margin-left: auto;
        margin-right: auto;
    }
}