@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&family=PT+Sans+Narrow&display=swap');

footer {
    width: 100%;
    height: auto;

    margin-top: 25px;
    padding-top: 25px;
    
    font-family: 'Noto Sans', sans-serif;
    color: #FFFF;

    background: #1B0044;
}

.footer-container {
    display: flex;
    flex-direction: column;

    align-items: center;
    justify-content: center;

    text-align: center;
}
.footer-container h3 {
    font-size: 1.8rem;
    font-weight: 400;

    text-transform: capitalize;

    line-height: 3rem;
}
.footer-container p {
    max-width: 500px;
    margin: 5px auto;
    line-height: 28px;
    font-size: 16px;

}
.footer-container .contacts-socials {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1rem 0 2rem 0;
}
.footer-container .contacts-socials li {
    margin: 0 25px;
}
.footer-container .contacts-socials a {
    color: #FFF;

}
.footer-container .contacts-socials a i {
    font-size: 2.1rem;
    transition: 0.4s ease;

}
.footer-container .contacts-socials a:hover i{
    color: aqua;
}

.footer-bottom {
    width: 100vw;

    padding: 15px 0;

    text-align: center;

    background: #1F024C;
}
.footer-bottom p {
    font-size: 16px;
    word-spacing: 2px;

    font-family: 'PT Sans Narrow', sans-serif;

    text-transform: capitalize;
}