@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@1,700&family=Open+Sans&display=swap');

#MainPageMenu {
    display: grid;

    align-items: center;

    grid-auto-columns: 1fr; 
    grid-template-columns: 0.8fr 1.2fr; 
    grid-template-rows: 1fr 1fr; 
    gap: 2px 2px; 
    grid-template-areas: 
    "Discription Solar-System" 
    "Object-list Solar-System"; 

    height: auto;

    padding: 10vmin 0 10vmin 3vmin;
}

.Solar-System { 
    grid-area: Solar-System; 
    justify-self: center;

    display: flex;
    justify-content: center;
    align-items: center;

    position: relative;
    
    width: 90vmin;
    height: 90vmin;
}

.Solar-System .Sun
{
    position: absolute;

    left: 50%;

    height: 10%;
    width: 10%;

    background: var(--clr);
    border-radius: 50%;

    box-shadow: 0 0 1vmin var(--clr);

    transform: translateX(-50%);

    transition: all 0.5s ease;

    z-index: 11;
}
.Solar-System .Sun:hover {
    box-shadow: 0 0 3vmin var(--clr);
}

.Solar-System .circle
{
    display: block;
    position: absolute;

    width: 96%;
    height: 96%;

    border: 0.5vmin solid #615DEC;
    border-radius: 50%;

    animation: rotateAroundOrbit 40s linear infinite;

    z-index: 3;

    transition: 0.3s ease;
}
.Solar-System .circle::before {
    content: "";

    position: absolute;

    top: -1.5vmin;
    left: 50%;

    width: 2.3vmin;
    height: 2.3vmin;

    background: var(--clr);

    border-radius: 50%;

    box-shadow: 0 0 1vmin var(--clr);

    transform: translateX(-50%);
}
.Solar-System .circle:hover {
    border: 0.5vmin solid var(--clr);
}

@keyframes rotateAroundOrbit {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

/*---------PLANETS---------*/

.Solar-System .Mercury
{
    width: 17.5%;
    height: 17.5%;

    z-index: 10;

    animation: rotateAroundOrbit 7s linear infinite;
}
.Solar-System .Mercury::before
{
    top: -0.9vmin;

    width: 1.2vmin;
    height: 1.2vmin;
}

.Solar-System .Venus
{
    width: 25%;
    height: 25%;

    z-index: 9;

    animation: rotateAroundOrbit 8s linear infinite;
}
.Solar-System .Venus::before
{
    top: -1vmin;

    width: 1.5vmin;
    height: 1.5vmin;
}

.Solar-System .Earth
{
    width: 35%;
    height: 35%;

    z-index: 8;

    animation: rotateAroundOrbit 10s linear infinite;
}
.Solar-System .Earth::before
{
    top: -1vmin;

    width: 1.7vmin;
    height: 1.7vmin;
}

.Solar-System .Mars
{
    width: 45%;
    height: 45%;

    z-index: 7;

    animation: rotateAroundOrbit 10.5s linear infinite;
}
.Solar-System .Mars::before
{
    top: -0.9vmin;

    width: 1.4vmin;
    height: 1.4vmin;
}

.Solar-System .Jupiter
{
    width: 60%;
    height: 60%;

    z-index: 6;

    animation: rotateAroundOrbit 20s linear infinite;
}
.Solar-System .Jupiter::before
{
    top: -1.6vmin;

    width: 3vmin;
    height: 3vmin;
}

.Solar-System .Saturn
{
    width: 70%;
    height: 70%;

    z-index: 5;

    animation: rotateAroundOrbit 22s linear infinite;
}
.Solar-System .Saturn::before
{
    top: -1.6vmin;

    width: 2.7vmin;
    height: 2.7vmin;
}

.Solar-System .Uranium
{
    width: 85%;
    height: 85%;

    z-index: 4;

    animation: rotateAroundOrbit 25s linear infinite;
}
.Solar-System .Uranium::before
{
    top: -1.6vmin;

    width: 2.5vmin;
    height: 2.5vmin;
}

/*-------------------------*/

.Discription { 
    grid-area: Discription; 
}
.Discription h3 {


    padding-bottom: 15px;

    font-size: 10vmin;
    font-family: 'Nunito', sans-serif;
}
.Discription p {
    
    font-family: 'Open Sans', sans-serif;
    font-size: 3vmin;

    line-height: 3.2vmin;

    color: #76E2F4;

}

.Object-list { grid-area: Object-list; }


@media (max-width: 1200px) {
    #MainPageMenu {
        grid-auto-columns: 1fr; 
        grid-template-columns: 1.2fr; 
        grid-template-rows: auto auto 0.6fr; 
        gap: 2px 2px; 
        grid-template-areas: 
          "Solar-System"
          "Discription"
          "Object-list"; 
    }
    .Solar-System {
        width: 50vmin;
        height: 50vmin;
    }
}
