@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@1,700&family=Open+Sans&display=swap');

#MainPageMenu {
    display: grid;

    align-items: center;

    grid-auto-columns: 1fr; 
    grid-template-columns: 0.8fr 1.2fr; 
    grid-template-rows: 1fr 1fr; 
    gap: 2px 2px; 
    grid-template-areas: 
    "Discription Solar-System" 
    "Object-list Solar-System"; 

    min-height: 100vh;

}

.Solar-System { 
    grid-area: Solar-System; 
    justify-self: center;

    display: flex;
    justify-content: center;
    align-items: center;

    position: relative;
    
    width: 90vmin;
    height: 90vmin;
}

.Solar-System .Sun
{
    position: absolute;

    left: 50%;

    height: 10%;
    width: 10%;

    background: var(--clr);
    border-radius: 50%;

    box-shadow: 0 0 1vmin var(--clr);

    transform: translateX(-50%);

    transition: all 0.5s ease;

    z-index: 11;
}
.Solar-System .Sun:hover {
    box-shadow: 0 0 3vmin var(--clr);
}

.Solar-System .circle
{
    display: block;
    position: absolute;

    width: 96%;
    height: 96%;

    border: 0.5vmin solid #615DEC;
    border-radius: 50%;

    animation: rotateAroundOrbit 40s linear infinite;

    z-index: 3;

    transition: 0.3s ease;
}
.Solar-System .circle::before {
    content: "";

    position: absolute;

    top: -1.5vmin;
    left: 50%;

    width: 2.3vmin;
    height: 2.3vmin;

    background: var(--clr);

    border-radius: 50%;

    box-shadow: 0 0 1vmin var(--clr);

    transform: translateX(-50%);
}
.Solar-System .circle:hover {
    border: 0.5vmin solid var(--clr);
}

@keyframes rotateAroundOrbit {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

/*---------PLANETS---------*/

.Solar-System .Mercury
{
    width: 17.5%;
    height: 17.5%;

    z-index: 10;

    animation: rotateAroundOrbit 7s linear infinite;
}
.Solar-System .Mercury::before
{
    top: -0.9vmin;

    width: 1.2vmin;
    height: 1.2vmin;
}

.Solar-System .Venus
{
    width: 25%;
    height: 25%;

    z-index: 9;

    animation: rotateAroundOrbit 8s linear infinite;
}
.Solar-System .Venus::before
{
    top: -1vmin;

    width: 1.5vmin;
    height: 1.5vmin;
}

.Solar-System .Earth
{
    width: 35%;
    height: 35%;

    z-index: 8;

    animation: rotateAroundOrbit 10s linear infinite;
}
.Solar-System .Earth::before
{
    top: -1vmin;

    width: 1.7vmin;
    height: 1.7vmin;
}

.Solar-System .Mars
{
    width: 45%;
    height: 45%;

    z-index: 7;

    animation: rotateAroundOrbit 10.5s linear infinite;
}
.Solar-System .Mars::before
{
    top: -0.9vmin;

    width: 1.4vmin;
    height: 1.4vmin;
}

.Solar-System .Jupiter
{
    width: 60%;
    height: 60%;

    z-index: 6;

    animation: rotateAroundOrbit 20s linear infinite;
}
.Solar-System .Jupiter::before
{
    top: -1.6vmin;

    width: 3vmin;
    height: 3vmin;
}

.Solar-System .Saturn
{
    width: 70%;
    height: 70%;

    z-index: 5;

    animation: rotateAroundOrbit 22s linear infinite;
}
.Solar-System .Saturn::before
{
    top: -1.6vmin;

    width: 2.7vmin;
    height: 2.7vmin;
}

.Solar-System .Uranium
{
    width: 85%;
    height: 85%;

    z-index: 4;

    animation: rotateAroundOrbit 25s linear infinite;
}
.Solar-System .Uranium::before
{
    top: -1.6vmin;

    width: 2.5vmin;
    height: 2.5vmin;
}

/*-------------------------*/

.Discription { 
    grid-area: Discription; 

    align-self: center;

    margin-left: 2vh;
    padding: 40px;

    box-shadow: -1px 5px 11px 9px #301781c9;
    background: #301781c9;
}
.Discription h3 {
    position: relative;

    padding-bottom: 15px;

    font-size: 10vmin;
    font-family: 'Nunito', sans-serif;

}

.Discription p {
    
    font-family: 'Open Sans', sans-serif;
    font-size: 3vmin;

    line-height: 3.2vmin;

}

.Object-list { 
    grid-area: Object-list;
    justify-self: center;
    align-items: center;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;


    position: relative;

    width: 100%;
    height: 100%;

    font-family: 'Nunito', sans-serif;
}
.Object-list h2
{
    font-size: 5vmin;
    padding-bottom: 2vmin;
}
.Object-list input {
    display: none;
}

.Object-list label {
    position: absolute;
    top: 60%;
}

.Object-list label .fa-solid{
    color: #FFF;
    font-size: 10vmin;

    transform: translateY(-25%);

    cursor: pointer;


}
.Object-list .Lnxt-btn {
    right: 15vmin;
}
.Object-list .Lpre-btn {
    left: 15vmin;
}

.Planets-Container {
    align-self: center;

    display: flex;
    justify-content: flex-start;
    align-items: center;

    width: 27vmin;

    scroll-behavior: smooth;

    overflow: hidden;
}

.Object-list .Planets-Container .PlanetCard {
    display: none;
    flex-direction: column;

    position: relative;

    width: auto;
    height: 100%;

    justify-content: center;
    align-items: center;

    background-color: var(--clr2);

    color: #FFF;
}
.Object-list .Planets-Container .PlanetCard.active {
    display: flex;
}
.Object-list .PlanetCard h2 {
    font-size: 4vmin;
    font-weight: 600;
}

.Object-list .PlanetCard .Planet-container {
    display: flex;
    flex-direction: column;

    justify-content: center;
    align-items: center;

    width: 100%;
}

.Object-list .Planet-container .loader {
    position: relative;
    width: 27vmin;
    height: 27vmin  ;

    border-radius: 50%;

    animation: loaderAnimation 5s linear infinite;
}
@keyframes loaderAnimation {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
.Object-list .PlanetCard .loader::before {
    content: "";

    position: absolute;
    top: 0;
    left: 0;

    width: 50%;
    height: 100%;

    background: linear-gradient(to top, transparent, var(--clr));
    background-size: 200px 360px;
    background-repeat: no-repeat;

    border-top-left-radius: 200px;
    border-bottom-left-radius: 200px;
}
.Object-list .PlanetCard .loader::after {
    content: "";

    position: absolute;
    top: 0;
    left: 50%;

    width: 1vmin;
    height: 1vmin;

    background: var(--clr2);

    border-radius: 50%;
    z-index: 10;

    box-shadow: 0 0 10px var(--clr2),
                0 0 20px var(--clr2),
                0 0 30px var(--clr2),
                0 0 40px var(--clr2),
                0 0 50px var(--clr2),
                0 0 60px var(--clr2),
                0 0 70px var(--clr2),
                0 0 80px var(--clr2),
                0 0 90px var(--clr2),
                0 0 100px var(--clr2);

    transform: translateX(-50%);
}
.Object-list .PlanetCard .loader span {
    position: absolute;

    top: 1vmin;
    left: 1vmin;
    right: 1vmin;
    bottom: 1vmin;

    background: var(--clr2);
    border-radius: 50%;
}

.Object-list .PlanetCard .PlanetImg {
    position: absolute;

    width: 22vmin;
    height: 22vmin;

    background: url("..\\Materials\\Backgrounds\\EarthMap.jpg");
    background-size: cover;
    border-radius: 50%;

    box-shadow: inset 0 0 2vmin var(--clr),
                inset 0 0 6vmin var(--clr);

    animation: planetCardRotate 20s linear infinite;
}
@keyframes planetCardRotate {
    0% {
        background-position: 0;
    }
    100% {
        background-position: 200%;
    }
}

.Object-list .PlanetCard .MarsIMG {
    background: url("..\\Materials\\Backgrounds\\Mars.jpg");
    background-size: cover;
}


@media (max-width: 1200px) {
    #MainPageMenu {
        grid-auto-columns: 1fr; 
        justify-items: center;
        align-content: center;
        grid-template-columns: 1.2fr; 
        grid-template-rows: auto auto 0.6fr; 
        gap: 15px 2px; 
        grid-template-areas: 
          "Solar-System"
          "Discription"
          "Object-list"; 
    }
    .Solar-System {
        width: 50vmin;
        height: 50vmin;
    }

    .Object-list button .fa-caret-right {
        right: 30vmin;
    }
    .Object-list button .fa-caret-left {
        left: 30vmin;
    }
}
